@import 'base/mixin',
        'base/function',
        'base/variables',
        'base/reset',
        'base/common';


@import 'component/button',
        'component/table',
        'component/tooltip';


.page{padding: 32px;}
@include class-begins('i-ico-') {
  @include icon-default;
}
.i-ico-tooltip {
  width: 1.6rem;
  height: 1.6rem;
  // background-image: url(../images/icon/ico-tooltip.png);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Ccircle cx='8' cy='8' r='7.5' stroke='%23B9C1C9'/%3E%3Cpath d='M6.33241 6.15384L6.62679 6.558L6.33241 6.15384C6.29795 6.17894 6.24533 6.19663 6.18563 6.19298C6.12597 6.18933 6.08016 6.16578 6.0541 6.1408C6.02961 6.11734 6.02649 6.09795 6.02649 6.08947C6.02654 5.65374 6.21941 5.22303 6.58448 4.89616C6.95142 4.56762 7.45984 4.375 7.99999 4.375C8.54014 4.375 9.04855 4.56762 9.41549 4.89616C9.78062 5.22308 9.97349 5.65385 9.97349 6.08964C9.97349 6.45964 9.90996 6.70349 9.78526 6.92501C9.65154 7.16254 9.42851 7.40911 9.04263 7.75461L9.04261 7.75459L9.03857 7.75828L8.91715 7.86941L8.91714 7.86941L8.91517 7.87124C8.67992 8.08889 8.48279 8.29472 8.35363 8.53165C8.21343 8.78881 8.17458 9.04094 8.17458 9.31094C8.17458 9.31957 8.17124 9.34066 8.14347 9.36552C8.11389 9.39201 8.06304 9.41494 7.99999 9.41494C7.93694 9.41494 7.88608 9.39201 7.8565 9.36552C7.82874 9.34066 7.8254 9.31957 7.8254 9.31094C7.8254 8.94095 7.88892 8.69709 8.01362 8.47558C8.14734 8.23805 8.37037 7.99148 8.75625 7.64598L8.75627 7.646L8.76031 7.64231L8.88174 7.53117L8.88174 7.53118L8.88371 7.52935C9.11896 7.3117 9.31609 7.10587 9.44525 6.86894C9.58545 6.61177 9.6243 6.35965 9.6243 6.08964C9.6243 5.6711 9.43812 5.28252 9.12852 5.00532C8.82074 4.72975 8.41404 4.58299 7.99999 4.58299C7.58594 4.58299 7.17923 4.72975 6.87145 5.00532C6.56709 5.27783 6.382 5.65798 6.37583 6.06843L6.37309 6.10412C6.36902 6.11618 6.35849 6.13485 6.33241 6.15384Z' fill='%23D6DBE1' stroke='%23B9C1C9'/%3E%3Ccircle cx='8.09805' cy='11.288' r='0.837068' fill='%23B9C1C9'/%3E%3C/svg%3E");
}